.contacto-enlaces {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 15px;
}

.contacto-enlaces a {
  color: #eaf6ff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.contacto-enlaces a i {
  margin-right: 10px;
  font-size: 1.4rem;
}

.contacto-enlaces a:hover {
  color: #b2ebf2;
}